body{
  padding: 0;
  margin: 0;
  background-image: url("http://wallpaperscraft.com/image/50782/1920x1080.jpg");
  width: 100%;
  height: 100%;
}

body *{
  font-family: 'Noto Sans', sans-serif;
}

.configurationClick{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.rigthBox, .leftBox{
  margin: 10px;
  position: absolute;
  float: left;
  display: table;
  border-radius: 10px;
}
.rigthBox{
  width: calc(75% - 20px);
  height: calc(100% - 20px);
}

.leftBox{
  padding:10px;
  left: calc(75%);
  width: calc(25% - 20px);
  height: calc(100% - 20px);
}

.box-content{
  position: relative;
  margin-top: 2%;
}

.rightItem{
  width: calc(50% - 60px);
  margin: 30px;
  float: left;
  display: table;
}

.rightItem .password, .rightItem .box{
  float: left;
}
.rightItem .password{
  width: 60%;
}
.rightItem .box{
  width: 40%;
}
.rightItem .title{
  font-size: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.rightItem .password .value{
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
}
.rightItem .box .value{
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}
.rightItem .value{
  font-size: 100px;
  color: #fff;
  padding: 10px;
}

.leftItem{
  width: 100%;
  margin: 3% 0;
  display: table;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.date{
  position: absolute;
  color: #fff;
  left: calc(100% - 70px);
  top: calc(100% - 30px);
}

.leftItem .password,.leftItem .box{
  float: left;
  font-size: 50px;
  color: #fff;
  padding: 12px;
}
.leftItem .password{
  width: 60%;
  text-align: right;
}

.leftItem .box{
  width: 40%;
}


@media (min-width: 1900px) {
    .rightItem .value{
      font-size: 140px;
    }
    .leftItem .password,.leftItem .box{
      font-size: 70px;
    }
    .rightItem .title{
      font-size: 50px;
    }
}
